body
{
background-color:#d0e4fe;
}
h1
{
color:#303030;
text-align:center;
font-size:32px;
}
h2
{
color:#303030;
}

#ColNames{
padding:10px;
background-color:silver;
font-size:32px;
}

#addNew{
font-size:28px;
color:black;
padding:20px;

}
#addNew:hover{
color:black;
padding:20px;
}
#newItemText{
color:black;
}
#newItemText:hover{
color:#A9A9A9;
}